<div class="section-title">
    <h2>Defenses</h2>
</div>
<div class="section-content">
    <div class="column">
        <div class="field-wrapper column">
            <h4>Armor Class</h4>
            <div class="input-wrapper">
                <input type="text" id="health-ac" [value]="data.ac" />
            </div>
        </div>
    </div>
    <div class="column">
        <div class="field-wrapper column">
            <h4>Immunities</h4>
            <div class="input-wrapper">
                <textarea id="defenses-immunities" [value]="data.immunities"></textarea>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="field-wrapper column">
            <h4>Resistances</h4>
            <div class="input-wrapper">
                <textarea id="defenses-resistances" [value]="data.resistances"></textarea>
            </div>
        </div>
    </div>
</div>