<nav role="tablist">
    <ul>
        <li id="tab-actions" (click)="handleTabClick($event)" class="active">Actions</li>
        <li id="tab-spells" (click)="handleTabClick($event)">Spells</li>
        <li id="tab-inventory" (click)="handleTabClick($event)">Inventory</li>
        <li id="tab-features" (click)="handleTabClick($event)">Features</li>
        <li id="tab-description" (click)="handleTabClick($event)">Description</li>
        <li id="tab-notes" (click)="handleTabClick($event)">Notes</li>
    </ul>
</nav>
<section id="tab-actions" role="tabpanel" class="grow active flex-parent">
    <div class="section-content add-padding flex-parent">
        <div class="column grow add-margin-bottom">
            <div class="row add-gap shrink flex-start center">
                <h4 class="shrink">Actions</h4>
                <div class="input-wrapper shrink">
                    <app-button id="add-action" [label]="'+'" [onClick]="handleAddAction"></app-button>
                </div>
            </div>
            @for (action of data.actions; track action.name) {
                <div class="row add-margin-bottom">
                    <div class="add-margin-right">
                        <input type="text" [value]="action.name" />
                    </div>
                    <div class="grow">
                        <input type="text" [value]="action.description" />
                    </div>
                </div>
            }
        </div>
        <div class="column grow add-margin-bottom">
            <div class="row add-gap shrink flex-start center">
                <h4 class="shrink">Bonus Actions</h4>
                <div class="input-wrapper shrink">
                    <app-button id="add-bonus-action" [label]="'+'" [onClick]="handleAddBonusAction"></app-button>
                </div>
            </div>
            @for (action of data.actions; track action.name) {
                <div class="row add-margin-bottom">
                    <div class="add-margin-right">
                        <input type="text" [value]="action.name" />
                    </div>
                    <div class="grow">
                        <input type="text" [value]="action.description" />
                    </div>
                </div>
            }
        </div>
        <div class="column grow add-margin-bottom">
            <div class="row add-gap shrink flex-start center">
                <h4 class="shrink">Rections</h4>
                <div class="input-wrapper shrink">
                    <app-button id="add-reaction" [label]="'+'" [onClick]="handleAddReaction"></app-button>
                </div>
            </div>
            @for (action of data.actions; track action.name) {
                <div class="row add-margin-bottom">
                    <div class="add-margin-right">
                        <input type="text" [value]="action.name" />
                    </div>
                    <div class="grow">
                        <input type="text" [value]="action.description" />
                    </div>
                </div>
            }
        </div>
        <div class="column grow add-margin-bottom">
            <div class="row add-gap shrink flex-start center">
                <h4 class="shrink">Special Actions</h4>
                <div class="input-wrapper shrink">
                    <app-button id="add-action" [label]="'+'" [onClick]="handleAddSpecialAction"></app-button>
                </div>
            </div>
            @for (action of data.actions; track action.name) {
                <div class="row add-margin-bottom">
                    <div class="add-margin-right">
                        <input type="text" [value]="action.name" />
                    </div>
                    <div class="grow">
                        <input type="text" [value]="action.description" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section id="tab-spells" role="tabpanel" class="grow add-padding flex-parent">
    <div class="section-title">
        <h4>Spells</h4>
    </div>
    <div class="section-content"></div>
</section>
<section id="tab-inventory" role="tabpanel" class="grow add-padding flex-parent">
    <div class="section-title">
        <h4>Inventory</h4>
    </div>
    <div class="section-content"></div>
</section>
<section id="tab-features" role="tabpanel" class="grow add-padding flex-parent">
    <div class="section-title">
        <h4>Features</h4>
    </div>
    <div class="section-content"></div>
</section>
<section id="tab-description" role="tabpanel" class="grow add-padding flex-parent">
    <div class="section-title">
        <h4>Description</h4>
    </div>
    <div class="section-content"></div>
</section>
<section id="tab-notes" role="tabpanel" class="grow add-padding flex-parent">
    <div class="section-title">
        <h4>Notes</h4>
    </div>
    <div class="section-content">
        <div class="input-wrapper grow">
            <textarea></textarea>
        </div>
    </div>
</section>