<div class="section-title add-margin-bottom">
    <h2>Health</h2>
</div>
<div class="section-content">
    <div class="column">
        <div class="row add-margin-bottom add-gap">
            <div class="field-wrapper column">
                <div class="input-wrapper">
                    <button type="button" id="health-rest-long">Long Rest</button>
                </div>
            </div>
            <div class="field-wrapper column">
                <div class="input-wrapper">
                    <button type="button" id="health-rest-short">Short Rest</button>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h3>Hit Points</h3>
        <div class="row add-margin-bottom add-gap">
            <div class="field-wrapper column">
                <h5>Max</h5>
                <div class="input-wrapper">
                    <input type="text" id="health-hp-max" [value]="data.hpMax" />
                </div>
            </div>
            <div class="field-wrapper column">
                <h5>Current</h5>
                <div class="input-wrapper">
                    <input type="text" id="health-hp-current" [value]="data.hpCurrent" />
                </div>
            </div>
            <div class="field-wrapper column">
                <h5>Temp</h5>
                <div class="input-wrapper">
                    <input type="text" id="health-hp-temp" [value]="data.hpTemp" />
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="field-wrapper column">
            <h3>Conditions</h3>
            <div class="input-wrapper">
                <textarea id="health-conditions" [value]="data.conditions"></textarea>
            </div>
        </div>
    </div>
</div>