
/* Grid Positions */
#section-general {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#section-health {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
}

#section-abilities {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

#section-defenses {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

#section-saves {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
}

#section-proficiencies {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
}

#section-skills {
    grid-column: 1 / span 2;
    grid-row: 3 / span 8;
}

#section-main {
    grid-column: 3 / span 3;
    grid-row: 3 / span 8;
}

/* Structure */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#wrapper {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

header {
    flex: 0 0 80px;
    display: flex;
}

main {
    flex: 1 1 calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    overflow-y: auto;
}

.section-wrapper {
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.section-title {
    flex: 0 1 auto;
}

.section-content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    overflow-y: auto;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.row > *, .column > * {
    flex: 1;
}

.field-wrapper {
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
}

.input-wrapper {
    flex: 1;
    padding: 3px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.input-wrapper input, .input-wrapper text-area, .input-wrapper select, .input-wrapper button {
    flex: 1;
    width: 100%;
}

.small {
    flex: 0;
}

.center {
    align-items: center;
}

[role="tablist"] ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

[role="tablist"] li {
    flex: 1 1 auto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}

h2 {
    padding-bottom: 5px;
}

/* Container Visuals */
html, body {
    background-color: #efefef;
}

main {
    border: solid 1px #333;
    border-radius: 10px;
    background-color: #ccc;
}

.section-wrapper {
    border: solid 1px #333;
    border-radius: 10px;
    background-color: #fff;
}

.input-wrapper {
    border: solid 1px #aaa;
    border-radius: 3px;
}

.input-wrapper input, .input-wrapper text-area {
    border: none;
}

[role="tablist"] ul {
    list-style: none;
}

[role="tablist"] li {
    background-color: #fff;
    border: solid 1px #ccc;
    border-right: none;
}

[role="tablist"] li:last-child {
    border-right: solid 1px #ccc;
}

[role="tablist"] li.active {
    border-bottom: none;
}

.border-bottom {
    border-bottom: solid 1px #eee;
}

.section-title h2 {
    border-color: #ccc;
}

.padding-bottom {
    padding-bottom: 5px;
}

.padding-top {
    padding-top: 5px;
}

.add-gap {
    gap: 5px;
}

/* Typography */ 
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: #333;
}

h1 {
    font-size: 18px;
    line-height: 18px;
}

h2 {
    font-size: 16px;
    line-height: 16px;
}

h3 {
    font-size: 12px;
    line-height: 12px;
}

h4 {
    font-size: 12px;
    line-height: 12px;
    color: #555
}

h5 {
    font-size: 11px;
    line-height: 11px;
    color: #777
}

h6 {
    font-size: 11px;
    line-height: 11px;
    color: #777
}
