<div class="section-title add-margin-bottom">
    <h2>Skills</h2>
</div>
<div class="section-content add-gap">
    <div class="row border-bottom add-margin-bottom">
        <h5>Skill</h5>
        <h5>Proficient</h5>
        <h5>Ability</h5>
        <h5>Bonus</h5>
    </div>
    @for (skill of data.skills; track skill.name) {
        <div class="row center add-gap flex-end">
            <h5>{{ skill.name }}</h5>
            <div class="input-wrapper">
                <select id="skills-{{skill.name}}-prof">
                    <option value="" [selected]="!skill.proficiency"></option>
                    @for (prof of proficiencies; track prof) {
                        <option value="{{ prof }}" [selected]="prof == skill.proficiency">{{ prof }}</option>
                    }
                </select>
            </div>
            <h6>{{ skill.ability }}</h6>
            <div class="input-wrapper">
                <input type="text" id="skills-{{ skill.name }}-mod" [value]="skill.bonus" /> 
                <span>{{ skill.customBonusModifiedBy }}</span>
            </div>
        </div>
    }
</div>