
  <div id="wrapper">
    <app-header [isUpdated]="isUpdated"></app-header>
    <main role="form" [formGroup]="form">
        <section id="section-general" class="section-wrapper">
          <section-general [data]="data.sheet.SectionGeneral" [generalForm]="form.controls.SectionGeneral"></section-general>
        </section>
        <section id="section-health" class="section-wrapper">
          <section-health [data]="data.sheet.SectionHealth" [healthForm]="form.controls.SectionHealth"></section-health>
        </section>
        <section id="section-defenses" class="section-wrapper">
          <section-defenses [data]="data.sheet.SectionDefenses" [defensesForm]="form.controls.SectionDefenses"></section-defenses>
        </section>
        <section id="section-abilities" class="section-wrapper">
          <section-abilities [data]="data.sheet.SectionAbilities" [abilitiesForm]="form.controls.SectionAbilities"></section-abilities>
        </section>
        <section id="section-saves" class="section-wrapper">
          <section-saving-throws [data]="data.sheet.SectionSavingThrows" [savingThrowsForm]="form.controls.SectionSavingThrows"></section-saving-throws>
        </section>
        <section id="section-proficiencies" class="section-wrapper">
          <section-proficiencies [data]="data.sheet.SectionProficiencies" [proficienciesForm]="form.controls.SectionProficiencies"></section-proficiencies>
        </section>
        <section id="section-skills" class="section-wrapper">
          <section-skills [data]="data.sheet.SectionSkills" [skillsForm]="form.controls.SectionSkills"></section-skills>
        </section>
        <section id="section-main" class="section-wrapper">
          <section-main [data]="data.sheet.SectionMain" [mainForm]="form.controls.SectionMain"></section-main>
        </section>
    </main>
  </div>