<div class="section-title">
    <h2>Saving Throws</h2>
</div>
<div [formGroup]="savingThrowsForm" class="section-content flex-space-between">
    <div class="row border-bottom add-margin-bottom">
        <h5>Ability</h5>
        <h5>Proficient</h5>
        <h5>Bonus</h5>
        <h5>Custom Modifier</h5>
    </div>
    @for (save of savingThrowsGroupsArray; track save.controls.ability.value) {
        <div [formGroup]="save" class="row">
            <div class="row center add-gap add-margin-bottom">
                <h4>{{ save.controls.ability.value }}</h4>
                <div class="field-wrapper column">
                    <div class="input-wrapper">
                        <select id="savingThrows-{{save.controls.ability.value}}-prof" formControlName="proficiency">
                            <option value="" [selected]="save.controls.proficiency.value"></option>
                                @for (prof of proficiencies; track prof) {
                                    <option [value]="prof" [selected]="prof == save.controls.proficiency.value">{{ prof }}</option>
                                }
                        </select>
                    </div>
                </div>
                <div>
                    <div class="input-wrapper">
                        <input type="text" id="saves-{{save.controls.bonus.value}}-mod" formControlName="bonus" />
                    </div>
                </div>
                <div>
                    <div class="input-wrapper">
                        <input type="text" id="saves-{{save.controls.customModifier.value}}-mod" formControlName="customModifier" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>