<div class="section-title">
    <h2>General Info</h2>
</div>
<div class="section-content">
    <div class="row add-gap add-margin-bottom">
        <div class="field-wrapper column">
            <h4>Name</h4>
            <div class="input-wrapper">
                <input type="text" id="general-name" [value]="data.name" />
            </div>
        </div>
        <div class="field-wrapper column">
            <h4>Player</h4>
            <div class="input-wrapper">
                <input type="text" id="general-player" [value]="data.player" />
            </div>
        </div>
    </div>
    <div class="row add-gap add-margin-bottom">
        <div class="field-wrapper column">
            <h4>Race</h4>
            <div class="input-wrapper">
                <input type="text" id="general-species" [value]="data.species" />
            </div>
        </div>
        <div class="field-wrapper column">
            <h4>Background</h4>
            <div class="input-wrapper">
                <input type="text" id="general-background" [value]="data.background" />
            </div>
        </div>
    </div>
        <div class="field-wrapper column" id="general-class">
            <div class="row center flex-start add-gap add-margin-bottom">
                <h3 class="shrink">Classes</h3>
                <div class="input-wrapper shrink">
                    <app-button id="add-class" [label]="'+'" [onClick]="handleAddClass"></app-button>
                </div>
            </div>
            <div class="row">
                <h5>Name</h5>
                <h5>Level</h5>
            </div>
            <div class="add-border add-padding">
                @for (class of data.classes; track class.name) {
                    <div class="row">
                        <div class="row add-margin-bottom">
                            <div class="input-wrapper width-150 add-margin-right">
                                <input type="text" [value]="class.name" />
                            </div>
                            <div class="input-wrapper shrink">
                                <input type="text" [value]="class.level" />
                            </div>
                        </div>
                    </div>
                }
                @if (!data.classes || data.classes.length == 0) {
                    <div class="row">
                        <div class="row add-margin-bottom grow">
                            <div class="input-wrapper width-150 add-margin-right">
                                <input type="text" />
                            </div>
                            <div class="input-wrapper">
                                <input type="text" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</div>